@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #fff;

    /* Sizes */
    --content-width: 1440px;
    --content-width-sm: 800px;
    --content-width-md: 1000px;
    --content-width-lg: 1400px;

    --navbar-height: 70px;
    --navbar-spacing: var(--navbar-height);

    --border-radius: 999rem;

    /* Shadow */

    --shadow: box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

body {
    @apply font-mono;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    } 
}
